body {
  margin: 0;
  font-family: Arial;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 10px 20px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.section {
  padding: 40px;
  text-align: center;
}

.profile {
  width: 150px;
  border-radius: 50%;
}

.card {
  background: #f4f4f4;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
}

.project-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  margin: auto;
}

.project-card img {
  width: 100%;
}

.gallery img {
  width: 150px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Dark Mode */
.dark {
  background: #111;
  color: white;
}

.dark .card,
.dark .project-card {
  background: #333;
}
